body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
  color: #111827;
}

header, footer {
  background-color: #4f46e5;
  color: white;
  text-align: center;
  padding: 1em;
}

main {
  padding: 2em;
}

h1, h2 {
  color: #3730a3;
}

ul {
  background-color: white;
  border-left: 5px solid #6366f1;
  padding: 1em;
  list-style-type: disc;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* í¾¨ Nou estil per select */
select {
  padding: 0.4em;
  margin-bottom: 1em;
  border-radius: 6px;
  border: 1px solid #d1d5db;
}

/* í¾¨ Nova classe per ocultar jocs filtrats */
.ocult {
  display: none;
}

input[type="text"] {
  padding: 0.5em;
  margin-top: 1em;
  border: 1px solid #cbd5e1;
  border-radius: 4px;
  width: 60%;
}

button {
  background-color: #6366f1;
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 6px;
  margin-left: 0.5em;
  cursor: pointer;
}

button:hover {
  background-color: #4f46e5;
}

.nota {
  font-size: 3rem;
  font-weight: bold;
  color: #22c55e;
  text-align: center;
}
